<%- include('partials/header') %>
<div class="pre-captcha-wrapper" style="width:600px; margin:0 auto">
            <div class="captcha-wrapper" style="background-color: #E3E3E3;">
<div class="form-container">
  
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>




<form method="POST">
    
    <div class="form-group">

      <label for="password">New Password</label>

       <input type="password" name="newpassword" id="newpassword" autofocus=true class="form-control" value="<%= locals.newpassword || '' %>" required />
       <div class="form-group" id ="error"/>
	</div>
    <div class="form-group">

      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm" id="confirm" class="form-control" value="<%= locals.confirm || '' %>" required />
     </div>
    <div class="form-group">
    <button type="submit" name="updatepassword" id="updatepassword"  class="btn btn-primary" disabled>Update Password</button>

   	</div>   
</div>
</div>
<style>
.captcha-wrapper{-webkit-border-radius:10px;padding-left:200px;padding-right:200px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;background-color:#fff;padding:10px 15px 10px;-webkit-box-shadow:rgba(0,0,0,0.4) 0 0 25px;-moz-box-shadow:rgba(0,0,0,0.4) 0 0 25px;box-shadow:rgba(0,0,0,0.4) 0 0 25px;margin:0 15px}@media only screen and (min-width: 1101px){.captcha-wrapper.multiple{display:inline-block;width:45.1%;max-width:620px}}@media only screen and (max-width: 1100px){.captcha-wrapper.multiple:nth-of-type(n+2){margin-top:60px}}@media only screen and (max-width: 360px){.captcha-wrapper.multiple:nth-of-type(n+2){margin-top:30px}}@media only screen and (min-width: 361px){.captcha-wrapper{padding:20px 83px 40px}}.captcha-wrapper h1{font-family:'Oxygen', sans-serif;font-size:20px;color:#2274a2;font-weight:300;text-align:center}@media only screen and (min-width: 750px){.captcha-wrapper h1{font-size:30px;margin-bottom:40px}}
</style>

<script>

var password = document.getElementById("newpassword");
var confirm_password = document.getElementById("confirm");
var update = document.getElementById("updatepassword");

function validatePassword(){

  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
     confirm_password.setCustomValidity("");
     if(document.getElementById('error').innerHTML==" "){
     update.disabled = false;
     }
  }
}


confirm_password.onkeyup = validatePassword;

</script>
<script>

var password2 = document.getElementById("newpassword");
function CheckPassword1()   
{  
 
    if(password2.value.length < 8 || password2.value.length > 20) {
    document.getElementById('error').innerHTML="*Password must be 8-20 characters long";
        return false;
      }

 re = /[0-9]/;
      if(!re.test(password2.value)) {
        document.getElementById('error').innerHTML="Password must contain one numeric digit";
        
        return false;
      }
      re = /[a-z]/;
      if(!re.test(password2.value)) {
        document.getElementById('error').innerHTML="Password must contain at least one lowercase letter";
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(password2.value)) {
        document.getElementById('error').innerHTML="Password must contain at least one uppercase letter";
        return false;
      }
       re = /[!@#$%]/;
      if(!re.test(password2.value)) {
        document.getElementById('error').innerHTML="Password must contain at least one special letter among !@#$%";
        return false;
      }

    else {
    document.getElementById('error').innerHTML=" ";
        return true;
    }
}

  

password2.onchange = CheckPassword1;


</script>


<%- include('partials/footer') %>